      <!-- herder and top -->
    <!-- /header -->
    <!-- parallax -->
      <!-- slide -->
    <!-- /parallax -->
    <!-- chose best rooms -->
    <section class="best-room">
      <div class="container">
        <div class="title-main">
          <h2 class="h2">Best Offer For Weekend<span class="title-secondary">Look Our Featured Rooms</span></h2>
        </div>
        <div class="best-room-carousel">
          <ul class="row best-room_ul">
            <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
              <div class="best-room_img">
                <a href="#"><img src="assets/images/best-rooms/1.jpg" alt=""/></a>
                <div class="best-room_overlay">
                  <div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
                </div>
              </div>
              <div class="best-room-info">
                <div class="best-room_t"><a href="best-rooms-detail.html">Grand Super Luxury</a></div>
                <div class="best-room_desc">Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered.
                </div>
                <div class="best-room_price">
                  <span>$99</span> / two days
                </div>
              </div>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
              <div class="best-room_img">
                <a href="#"><img src="assets/images/best-rooms/2.jpg" alt=""/></a>
                <div class="best-room_overlay">
                  <div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
                </div>
              </div>
              <div class="best-room-info">
                <div class="best-room_t"><a href="best-rooms-detail.html">Special Spa Room</a></div>
                <div class="best-room_desc">Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered.
                </div>
                <div class="best-room_price">
                  <span>$129</span> / two days
                </div>
              </div>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
              <div class="best-room_img">
                <a href="#"><img src="assets/images/best-rooms/3.jpg" alt=""/></a>
                <div class="best-room_overlay">
                  <div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
                </div>
              </div>
              <div class="best-room-info">
                <div class="best-room_t"><a href="best-rooms-detail.html">President Double Luxury</a></div>
                <div class="best-room_desc">Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered.
                </div>
                <div class="best-room_price">
                  <span>$349</span> / two days
                </div>
              </div>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
              <div class="best-room_img">
                <a href="#"><img src="assets/images/best-rooms/4.jpg" alt=""/></a>
                <div class="best-room_overlay">
                  <div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
                </div>
              </div>
              <div class="best-room-info">
                <div class="best-room_t"><a href="best-rooms-detail.html">Grand Super Luxury</a></div>
                <div class="best-room_desc">Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered.
                </div>
                <div class="best-room_price">
                  <span>$49</span> / two days
                </div>
              </div>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
              <div class="best-room_img">
                <a href="#"><img src="assets/images/best-rooms/5.jpg" alt=""/></a>
                <div class="best-room_overlay">
                  <div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
                </div>
              </div>
              <div class="best-room-info">
                <div class="best-room_t"><a href="best-rooms-detail.html">Special Spa Room</a></div>
                <div class="best-room_desc">Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered.
                </div>
                <div class="best-room_price">
                  <span>$199</span> / two days
                </div>
              </div>
            </li>
            <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
              <div class="best-room_img">
                <a href="#"><img src="assets/images/best-rooms/6.jpg" alt=""/></a>
                <div class="best-room_overlay">
                  <div class="overlay_icn"><a href="best-rooms-detail.html"></a></div>
                </div>
              </div>
              <div class="best-room-info">
                <div class="best-room_t"><a href="best-rooms-detail.html">President Double Luxury</a></div>
                <div class="best-room_desc">Difficulty on insensible reasonable in. From as went he they. Preference themselves me as thoroughly partiality considered.
                </div>
                <div class="best-room_price">
                  <span>$209</span> / two days
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- /choose best rooms -->
    <!-- lux banner parallax -->
      <section class="banner bg-parallax2">
        <div class="overlay"></div>
      <div class="banner-parallax">
        <div class="container">
          <div class="text-center">
            <div class="banner-parallax_raiting">
              <a href="#"><span class="star __selected"></span></a>
              <a href="#"><span class="star __selected"></span></a>
              <a href="#"><span class="star __selected"></span></a>
              <a href="#"><span class="star"></span></a>
              <a href="#"><span class="star"></span></a>
            </div>
            <h2 class="banner-parallax_t">Double Luxury Room</h2>
            <div class="banner-parallax_price"><span>$560</span> / Night (Only This Week)</div>
            <a href="#" class="btn btn-default">Book this room</a>
          </div>
        </div>
      </div>
    </section>
    <!-- /lux banner parallax -->
    <!-- enjoy our services -->
    <section class="section">
      <div class="container">
        <div class="title-main"><h2 class="h2">Our Services<span class="title-secondary">Great. Safe. Free.</span></h2></div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-globe"></i> Different Tours</h3>
            <p>Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-taxi"></i> Taxi Service</h3>
            <p>Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-glass"></i> Bar Included</h3>
            <p>Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-life-ring"></i> Discount System</h3>
            <p>Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-leaf"></i> Professional Staff</h3>
            <p>Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <h3 class="service_title"><i class="fa fa-eye"></i> Parking 24/7</h3>
            <p>Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- /enjoy our services -->
    <!-- testiomonials -->
    <section class="testimonials">
      <div class="container">
        <div class="title-main"><h2 class="h2">Some Testimonails<span class="title-secondary">People Says About Us</span></h2></div>
        <div class="owl-carousel">
          <div class="item">
            <div class="testimonials-block_i">
              <div class="testimonials-block_t">Great <span>Service</span></div>
              <p>Old unsatiable our now but considered travelling impression. In excuse hardly summer in basket misery. By rent an part need. At wrong of of water those linen. Needed oppose seemed how all</p>
            </div>
            <div class="testimonials-block_user">
                <div class="user_img"><img src="assets/images/mike.jpg" alt=""/></div>
                <div class="user_n">Garry Carlson</div>
            </div>
          </div>
          <div class="item">
            <div class="testimonials-block_i">
              <div class="testimonials-block_t">Thank You Very Much <span>I Am Happy!</span></div>
              <p>Certainty listening no no behaviour existence assurance situation is. Because add why not esteems amiable him. Interested the unaffected mrs law friendship add principles.</p>
            </div>
            <div class="testimonials-block_user">
                <div class="user_img"><img src="assets/images/mila.png" alt=""/></div>
                <div class="user_n">Mila Markovna</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /testiomonials -->
    <!-- map -->
    <section class="map">
      <div id="map"></div>
    </section>
    <!-- /map -->
  <!-- /main wrapper -->
  <!-- footer -->
  
</div>
  <!-- /footer -->
  <!-- Scripts -->
  <script type="text/javascript" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/tether.min.js"></script>
  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="assets/js/moment.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery.smartmenus.js"></script>
  <script type="text/javascript" src="assets/js/jquery.parallax.min.js"></script>
  <script type="text/javascript" src="assets/js/jquery.shuffle.min.js"></script>
  <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
  <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
  <script type="text/javascript" src="assets/js/map.js"></script> -->
  <script type="text/javascript" src="assets/js/main.js"></script>
  <!-- /Scripts -->
</body>
</html>